body {
  font-family: "Raleway";
}

nav {
  padding: 0 5.5em;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

button {
  color: #333333;
  font-size: 24px;
  display: flex;
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin: 1em 0;
  align-items: center;
}

a {
  text-decoration: none;
}

button i {
  margin-left: 0.3em;
}

section {
  max-width: 30%;
  margin: 7em auto 0 auto;
}

section div:hover {
  background-color: #333333;
}

section div:hover dt:first-of-type {
  color: #fff;
}

section div:first-child {
  padding: 1.5em;
  margin-top: 5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 300ms;
}

section h1 {
  font-weight: 500;
  font-size: 36px;
  border-left: 5px solid #f7df94;
  padding-left: 2em;
}

section dt:first-of-type {
  color: #4f4f4f;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  padding-top: 0.2em;
}

section dt:nth-of-type(2) {
  color: #828282;
  font-size: 14px;
  padding-top: 1em;
}

span {
  font-size: 40px;
  color: #fff;
  margin-right: 0.5em;
}


@media only screen and (max-width: 1440px) {
  section {
    max-width: 50%;
  }
}

@media only screen and (max-width: 992px) {
  section {
    max-width: 60%;
  }
}