div p {
    text-align: center;
    color: #828282;
    font-family: 'Raleway';
    margin-top: 3em;
    font-size: .9em;
}

div p a {
    text-decoration: underline;
    color: #6e6e6e;
    font-weight: bold;
}